<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="S_UseLocal_Scoreboard" connectionString="0" />
    <add name="Local_SS_WP23" connectionString="Provider=SQLOLEDB;Data Source=DVLap10\SQLEXPRESS;Integrated Security=SSPI;Persist Security Info=True;Initial Catalog=LiveWebScoreboard" />
    <add name="LWS_Prod" connectionString="Provider=SQLOLEDB; Server=db-prod.usawaterski.com;Database=LiveWebScoreboard;User ID=WaterskiResults;Password='Live#Web$Score@board2024#'" />
  </connectionStrings>
  <system.webServer>
    <httpErrors>
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/404-LiveWebScoreboard.html" responseMode="ExecuteURL" />
      <error statusCode="500" prefixLanguageFilePath="" path="/500-100-LiveWebScoreboard.html" responseMode="ExecuteURL" />
    </httpErrors>
    <staticContent>
      <remove fileExtension=".application" />
      <mimeMap fileExtension=".application" mimeType="application/x-ms-application" />
      <mimeMap fileExtension=".sdf" mimeType="application/x-msdownload" />
      <mimeMap fileExtension=".php" mimeType="text/html" />
    </staticContent>
    <!-- Remove custom handlers to restore default static file serving -->
    <!-- If you need custom handlers for specific file types, add them below -->
    <!-- Default handlers will serve .css, .js, .svg, images, etc. -->
  </system.webServer>
  <system.web>
    <compilation debug="true" />
    <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly">
        <error statusCode="500" redirect="InternalError.htm"/>
    </customErrors>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>